my_app: ""
my_sec: ""
my_acct_stock: ""
my_prod: "44471935"
my_paper_stock: ""
my_url: "https://openapi.koreainvestment.com:9443"
my_url_vts: "https://openapivts.koreainvestment.com:29443"
my_url_ws: "ws://ops.koreainvestment.com:21000"
my_url_ws_vts: "ws://ops.koreainvestment.com:31000"
env_dv: "real"
appkey_path: "conf/44471935_appkey.txt"
secretkey_path: "conf/44471935_secretkey.txt"
